.blog-container{
    .daily-dev{
        background-image: url('../images/pattern.png');
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;
    }
    .card-body{
        .blog-url{
            color: black;
            &:hover{
                color: blue;
            }
        }
    }
    .public-reaction{
        @include for-phone-only{
            justify-content: center;
        }
    }
}

