.content-container{
    background-color: #f2f4f5;
    .card{
        .card-links{
            display: flex;
            justify-content: space-around;
            a{
                color: white;
            }
        }
    }
}