body{
    background-color: #f5f9ff;
}
.content-container{
    .card{
        .card-links{
            display: flex;
            justify-content: space-around;
            a{
                color: white;
            }
        }
    }
}