.sidenav-container{
    width: 60vw;
    transition: all 0.8s;
    animation: slide-in 0.5s 1;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 999;
    background-color: #151c2e;
    color: white;
    .sidenav-links{
        padding-top: 3.5rem;
        ul{
            text-decoration: none;
            list-style-type: none;
            padding: 0;
            .sidenav-item{
                a{color: white;font-size: large;}
                i{
                    margin-right: 10px;
                }
                &:hover{
                    background-color: #384152;
                }
                
            }
        }
    }
}


.sidenav-mob-only{
    position: relative;
    .sidenav-hide{
        display: none;
    }
    @include for-tablet-portrait-up{
        display: none;
    }
}

@keyframes slide-in {
    0% { left: -80%; }
    100% { left: 0%; }
}

@keyframes slide-out{
    0%{left :0}
    100%{left:-80%}
}
